.home-page {
  &__title {
    color: rgb(8, 0, 255);
  }
  
  font-family: cursive;
  
  .theme-a {
    background: #dca;
    color: #731;
  }
  @media (prefers-color-scheme: dark){
    .theme-a.adaptive {
      background: #753;
      color: #dcb;
      outline: 5px dashed #000;
    }
  }

  .theme-b {
    background: #447;
    color: #bbd;
  }
  @media (prefers-color-scheme: light) {
    .theme-b.adaptive {
      background: #bcd;
      color: #334;
      outline: 5px dotted #000;
    }
  }


  &__products {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
